<div class="columnsContainer">
  <div class="leftColumn">
    <ul>
      <li>
        <%= link_to 'За день', params.merge({ scope: 'day'}) %>
      </li>
      <li>
        <%= link_to 'За месяц', params.merge({ scope: 'month'}) %>
      </li>
      <li>
        <%= link_to 'За год', params.merge({ scope: 'year'}) %>
      </li>
    </ul>

    <form action="<%= root_path %>" >
      <ul>
        <% @categories.each do |category| %>
          <li>
            <%= category.title %>
            <%= check_box_tag('categories[]', category.id, check_category_status(params, category.id)) %>
          </li>
        <% end %>
        <li><button>Отправить</button></li>
        <ul>
        </form>

      </div>

      <div class="rightColumn">

        <div id="chartContainer-monthly" style="height: 400px; width: 100%;"></div>
        <div id="chartContainer-categoryes" style="height: 400px; width: 100%;"></div>
        <div id="chartContainer-title" style="height: 400px; width: 100%;"></div>

        <script type="text/javascript">

        var chart = new CanvasJS.Chart("chartContainer-monthly", {
          title:{
            text: "Помесячный отчет <%= chart_dates(@from, @to)%>"
          },
          data: [
            {
              // Change type to "doughnut", "line", "splineArea", etc.
              type: "column",
              indexLabel: "{y}",
              dataPoints: <%= @by_month.to_json.html_safe %>
            //   [
              //   { label: "apple",  y: 10  },
              //   { label: "orange", y: 15  },
              //   { label: "banana", y: 25  },
              //   { label: "mango",  y: 30  },
              //   { label: "grape",  y: 28  }
              // ]
            }
          ]
        });
        chart.render();

        var chart2 = new CanvasJS.Chart("chartContainer-categoryes", {
          title:{
            text: "По категориям <%= chart_dates(@from, @to)%>"
          },
          data: [
            {
              // Change type to "doughnut", "line", "splineArea", etc.
              type: "column",
              indexLabel: "{y}",
              dataPoints: <%= @by_categories.to_json.html_safe %>
            }
          ]
        });
        chart2.render();

        var chart3 = new CanvasJS.Chart("chartContainer-title", {
          title:{
            text: "По найменованиям <%= chart_dates(@from, @to)%>"
          },
          data: [
            {
              // Change type to "doughnut", "line", "splineArea", etc.
              type: "column",
              indexLabel: "{y}",
              dataPoints: <%= @by_title.to_json.html_safe %>
            }
          ]
        });
        chart3.render();


        </script>
      </div>
    </div>
