.columnsContainer, footer, header { position: relative; margin: .5em; }

.rightColumn, .leftColumn, footer, header {
  border: 1px solid  #ccc;
  padding: 1.25em;
}

.rightColumn { margin-bottom: .5em; }

            /* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {
  .rightColumn {
    margin-right: 19.5em;
  }

  .leftColumn {
    position: absolute;
    top: 0;
    right: 0;
    width: 18.75em;
  }
}
