.table-blue table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
.table-blue {
  font: normal 12px/150% Arial, Helvetica, sans-serif;
  background: #fff;
  overflow: hidden;
  border: 1px solid #006699;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.table-blue table td,
.table-blue table th {
  padding: 3px 10px;
}
.table-blue table thead th {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
  background: -moz-linear-gradient( center top, #006699 5%, #00557F 100%);
  /* filter: table-blue: DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F'); */
  background-color: #006699;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  border-left: 1px solid #0070A8;
}
.table-blue table thead th:first-child {
  border: none;
}
.table-blue table tbody td {
  color: #00557F;
  border-left: 1px solid #E1EEF4;
  font-size: 12px;
  font-weight: normal;
}
.table-blue table tbody tr:nth-child(even) {
  background: #E1EEf4;
  color: #00557F;
}
.table-blue table tbody td:first-child {
  border-left: none;
}
.table-blue table tbody tr:last-child td {
  border-bottom: none;
}
.table-blue table tfoot td div {
  border-top: 1px solid #006699;
  background: #E1EEf4;
}
.table-blue table tfoot td {
  padding: 0;
  font-size: 12px
}
.table-blue table tfoot td div {
  padding: 2px;
}
.table-blue table tfoot td ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.table-blue table tfoot li {
  display: inline;
}
.table-blue table tfoot li a {
  text-decoration: none;
  display: inline-block;
  padding: 2px 8px;
  margin: 1px;
  color: #FFFFFF;
  border: 1px solid #006699;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
  background: -moz-linear-gradient( center top, #006699 5%, #00557F 100%);
  /* filter: table-blue: DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F'); */
  background-color: #006699;
}
.table-blue table tfoot ul.active,
.table-blue table tfoot ul a:hover {
  text-decoration: none;
  border-color: #00557F;
  color: #FFFFFF;
  background: none;
  background-color: #006699;
}
div.dhtmlx_window_active,
div.dhx_modal_cover_dv {
  position: fixed !important;
}
