ul.top-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.top-menu li {
  float: left;
}

.top-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.top-menu .top-menu-right {
  float:right;
  list-style-type:none;
}

/* Change the link color to #111 (black) on hover */
.top-menu li a:hover {
  background-color: #111;
}

.top-menu .active, .top-menu li a.active:hover {
  background-color: #4CAF50;
}


