<p id="notice"><%= notice %></p>

<h1>Listing Expenses</h1>

<%= link_to 'New Expense', new_expense_path %>

<br>

<div class="table-blue">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Категория</th>
        <th>Price</th>
        <th>Date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.title %></td>
          <td><%= expense.description %></td>
          <td><%= expense.category.title %></td>
          <td><%= expense.price %></td>
          <td><%= expense.purchase_date %></td>
          <td><%= link_to 'Show', expense %></td>
          <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
          <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Expense', new_expense_path %>

<br>

<%= paginate @expenses %>
