<!DOCTYPE html>
<html>
<head>
  <title>EApp</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <ul class="top-menu">
      <li><%= active_link_to 'Главная', root_path, :active => :exclusive %></li>
      <li><%= active_link_to 'Расходы', expenses_path %></li>
      <li><%= active_link_to 'Категории', categories_path %></li>
      <ul class="top-menu-right">
        <li><%= active_link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
      </ul>
    </ul>
  <% end %>

  <% if notice.present? %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <% if alert.present? %>
    <p class="alert"><%= alert %></p>
  <% end %>


  <%= yield %>

</body>
</html>
